@model GesN.Web.Models.ViewModels.Sales.EditOrderEntryViewModel
<div class="row" id="editOrderContainer" data-number-sequence="@Model.NumberSequence">
    <div class="col-md-12 container-fluid">
        <h2>Edição de Pedido</h2>

        <div class="col-md-3 order-data">
            <form id="editOrderForm">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="NumberSequence"></label>
                    <input asp-for="NumberSequence" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="CustomerId"></label>
                    <input asp-for="CustomerId" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="OrderDate"></label>
                    <input asp-for="OrderDate" class="form-control" type="date" />
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryDate"></label>
                    <input asp-for="DeliveryDate" class="form-control" type="date" />
                </div>
                <div class="form-group">
                    <label asp-for="Type"></label>
                    <select asp-for="Type" class="form-control">
                        @foreach (var type in Enum.GetValues(typeof(GesN.Web.Models.Enumerators.OrderType)))
                        {
                            <option value="@((int)type)">@type</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Status"></label>
                    <input asp-for="Status" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="TotalAmount"></label>
                    <input asp-for="TotalAmount" class="form-control" readonly />
                </div>
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary" id="btnSalvarOrder">Salvar Alterações</button>
                </div>
            </form>
        </div>

        <div class="col-md-3 order-items">
            <div id="orderItemsContainer">
                @await Html.PartialAsync("_OrderItems", Model.Items)
            </div>
        </div>

        <div class="col-md-3 product-catalog">
            @* partial view -> Produtos ativos do Catálogo *@
        </div>

    </div>
</div> 