@model Pedido
@{
    //ViewData["Title"] = "Módulo de Vendas";
}

<div class="row" id="createPedidoContainer">
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <h1>Identificação do Cliente</h1>
                <input type="text" id="buscarCliente" placeholder="Buscar Cliente..." class="border p-2 mb-6 w-full" /><br />
                <select id="tipoPedido" class="border p-2 mb-2 w-full">
                    <option value="encomenda">Encomenda</option>
                    <option value="evento">Evento</option>
                </select><br />
                <button class="btn btn-sales mb-3" id="btnAnotarPedido">Anotar Pedido</button>
            </div>
        </div>
        <h1>Novo Pedido</h1>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form id="createPedidoForm" method="post">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="DataCadastro" value="@DateTime.Now" />
                    <input type="hidden" asp-for="DataModificacao" value="@DateTime.Now" />

                    <div class="form-group">
                        <label asp-for="PedidoId" class="control-label"></label>
                        <input asp-for="PedidoId" class="form-control" />
                        <span asp-validation-for="PedidoId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClienteId" class="control-label"></label>
                        <input asp-for="ClienteId" class="form-control" />
                        <span asp-validation-for="ClienteId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ColaboradorId" class="control-label"></label>
                        <input asp-for="ColaboradorId" class="form-control" />
                        <span asp-validation-for="ColaboradorId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="DataPedido" class="control-label"></label>
                        <input asp-for="DataPedido" class="form-control" />
                        <span asp-validation-for="DataPedido" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-primary" id="btnSalvarPedido" onclick="pedidosManager.salvarNovoModal()">
                            <span class="spinner-border spinner-border-sm d-none" id="loadingSpinner" role="status" aria-hidden="true"></span>
                            Salvar Pedido
                        </button>
                    </div>
                </form>
            </div>
        </div>

        @* <div>
            <a asp-action="Index">Back to List</a>
        </div> *@
    </div>
</div>
