@using Microsoft.AspNetCore.Identity
@using GesN.Web.Areas.Identity.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home";
}

<br />
<div class="home">
    <div class="home-logo">
        <img class="logo-gpn" src="~/img/GPN.png" alt="Logomarca GPN" />
        <h3>Sua plataforma de administração online!</h3>
    </div>
    <div class="home-logo">
        <img class="logo-cliente" src="~/img/horizontallogo.png" alt="Logomarca Spalenza Buffet" />
    </div>
</div>

<br />

<div class="row mt-4">
    <div class="col-md-4 offset-md-4">
        <div class="card text-center">
            <div class="card-header bg-warning">
                <h5 class="card-title mb-0">Utilitário de Diagnóstico</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Use esta ferramenta para diagnosticar e corrigir problemas com roles.</p>
                <a asp-area="Admin" asp-controller="RolesDebug" asp-action="Index" class="btn btn-warning">Diagnóstico de Roles</a>
            </div>
        </div>
    </div>
</div>

<br />

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <a class="btn btn-sales btn-lg-home" asp-area="" asp-controller="Pedido" asp-action="Index">Área de Vendas</a>
        
        @if (User.IsInRole("Admin"))
        {
            <a class="btn btn-primary btn-lg-home ms-2" asp-area="Admin" asp-controller="Home" asp-action="Index">Área de Administração</a>
        }
    </div>
}