@using Microsoft.AspNetCore.Identity
@using GesN.Web.Areas.Identity.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home";
}

<br />
<div class="home">
    <div class="home-logo">
        <img class="logo-gesn" src="~/img/logo-gesn.svg" alt="Logomarca GesN" />
        @* <h3>Sua plataforma de administração online!</h3> *@
    </div>
    @* <div class="home-logo">
        <img class="logo-cliente" src="~/img/horizontallogo.png" alt="Logomarca Spalenza Buffet" />
    </div> *@
</div>

<br />

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <a class="btn btn-sales btn-lg-home" asp-area="" asp-controller="Pedido" asp-action="Index">Ferramenta de Vendas</a>
        <a class="btn btn-sales btn-lg-home" asp-area="" asp-controller="Producao" asp-action="Index">Controle de Produção</a>
        
        @if (User.IsInRole("Admin"))
        {
            <br />
            <br />
            <br />
            <a class="btn btn-primary btn-lg-home ms-2" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
        }
    </div>
}